from flask import (
    Blueprint,
    jsonify,
)


root = Blueprint('root', __name__, url_prefix='')


@root.route('/heartbeat')
def heartbeat():
    '''
    Basic heartbeat endpoint to test that the route is working
    '''
    return jsonify(
        ok=True,
        msg='{{ project_name }} is running!'
    )
