
## Project Description

<!-- Add your description here -->

## Makefile & Docker

This project comes with a Makefile to make it easier to run tests, type checking, linting, as well as for interacting with Docker. To learn more, use the `make help` command to display the available

## Install

This project can be installed manually, or alternatively can be installed using the convenience Makefile.

To install the project locally, create a virtual environment and run the following command:

```shell
pip install -e '.[all]'
```

Alternatively, install using the included `Makefile` using the following command:

```shell
make install
```

Make sure to install dependencies locally before using the provided docker container, as this will help since the `src` directory is mounted as a volume.

### Setup

Edit the `.env` file with the required information. This will be loaded by Docker-Compose and consumed by Flask. A new secret key can be generated using `openssl` on the command line with the following command:

```shell
openssl rand -base64 32
```

For any additional configuration that might be needed by the application, make sure to add entries to the `config.py` file to be loaded by the application.

## Running the Flask application with Docker

Build the Docker container using `make build`, and then run with `make run`. This should also mount the appropriate ports on the container to the host.

To run in detach mode, use `make run-d`.

## Credit
<!-- Feel free to delete this if you would like -->

Project initially generated by [Krait](https://github.com/taliamax/krait).
