COMPOSE_FILE ?= docker/docker-compose.yaml
COMPOSE ?= docker-compose -f $(COMPOSE_FILE)

install:  ## Install all dependencies locally
	pip install -e '.[all]'

build:  ## Build the container to run the app
	$(COMPOSE) build

run:  ## Run the application in the container
	$(COMPOSE) up

run-d:  ## Run the container in detach mode
	$(COMPOSE) up -d

stop:  ## Stop all running containers connected to this project
	$(COMPOSE) down
