from setuptools import setup, find_packages


setup(
    name='{{ project_name }}',
{%- if author != '' %}
    author='{{ author }}',
{%- endif %}
{%- if author_email != '' %}
    author_email='{{ author_email }}',
{%- endif %}
    version='0.1',
    packages=find_packages('src'),
    package_dir={'': 'src'},
    include_package_data=True,
    install_requires={{ install_dependencies }},
    tests_require={{ test_dependencies }},
    extras_require={
        'tests': {{ test_dependencies }},
    },
{%- if project_type == 'cli' %}
    entry_points={
        'console_scripts': ['{{project_name}} = {{ project_name|replace('-','_') }}.main:main']
    },
{%- endif %}
)
